body {
  background-color: rgb(253, 251, 251);
  font-family: 'Signika Negative', sans-serif;
}

#cabecalho {
  top: 0px;
  background-color: #14213d;
  position: fixed;
  text-align: center;
  height: 120px;
  width: 99%;
}


#titulo {
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  font-size: 48px;
  color: chocolate;
  letter-spacing: 10px;
}
#menu{
  background-color:chocolate;
  text-align: left;
  
}
.links {
  display: inline;
  font-size: 18px;
  margin: 0 0 0 20px;  
     
}


.descricao{
  background-color: burlywood;
}

  
#minha_foto {
  padding: 5px;
  margin-top: 150px;
  width: 150px;
  border-radius: 60px;
  display:inline-block;
  border-bottom: 5px;

}

#minha_descrição{
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
  line-height: 5px;
  text-align: justify;

}

.lado-direito{
  float:right;
    width: 50%;
    
    width: 50%;
}

.lado-esquerdo{
  float: left;
  width: 50%;
  
  width: 50%;
}
.direito{
  float:right;
    width: 50%;
    
    width: 50%;

}

.esquerdo{
  float: left;
  width: 50%;
  
  width: 50%;
}
.tabela table{
  margin:8px;
}
.esquerdo{
  float: left;
    width: 50%;
    
    width: 50%;

}
.direito{
  float: right;
    width: 50%;
    
    width: 50%;
}



#rodape{
  background-color: #14213d;
  color: chocolate;
  font-family: 'Signika Negative', sans-serif;
  font-size: 14px;
  letter-spacing: 5px;
  height: 28px;
  text-align: center;
  margin-top: 50px;
  
}