body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0px;
  background-color: #14213d;
  position: fixed;
  text-align: center;
  height: 120px;
  width: 99%;
}

#titulo {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 48px;
  color: chocolate;
  letter-spacing: 10px;


}
.descricao{
  background-color: burlywood;
}
#minha_descricao {
  width: 30%;;
  padding-left: 20px;
  margin-top: 115px;
  float:right;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 16px;
  color:#14213d;
  text-align:center;
  line-height:25px;
}

#minha_foto {
  padding: 5px;
  margin-top: 110px;
  width: 230px;
  border-radius: 40px;
  display:inline-block;

}

#descritminha_foto {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;

}
#rodape{
  background-color: #14213d;
  color: chocolate;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  letter-spacing: 5px;
  height: 25px;
  text-align: center;
}