body {
  background-color:#F0FFFF;
  font-family: 'Signika Negative', sans-serif;
}

#cabecalho {
  top: 0px;
  background-color: #2F4F4F;
  position: fixed;
  text-align: center;
  height: 120px;
  width: 99%;
}


#titulo {
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  font-size: 48px;
  color: #F0FFFF;
  letter-spacing: 10px;
}
#menu{
  background-color:#2F4F4F;
  text-align: left;
  
}
.links {
  display: inline;
  font-size: 18px;
  margin: 0 0 0 20px;
  color:  #F0FFFF;
  text-decoration: none; 
     
}

a {
  color: #ddf0f0;
}

a:visited {
  color: white;
}

.descricao{
  background-color:#B0E0E6;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#descricao_foto{
  font-size: 2em;
}
  
#minha_foto {
  padding: 5px;
  margin-top: 150px;
  width: 180px;
  border: solid 0.8em #2F4F4F;
  border-radius: 60px;
  display:inline-block;
  border-bottom: 5px;

}

#minha_descrição{
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
  line-height: 5px;
  text-align: justify;

}

h2{
  color: #2F4F4F;
}

.lado-direito{
  float:right;
    width: 50%;
    
    width: 50%;
}

.lado-esquerdo{
  float: left;
  width: 50%;
  
  width: 50%;
}
.direito{
  float:right;
    width: 50%;
    
    width: 50%;

}

.esquerdo{
  float: left;
  width: 50%;
  
  width: 50%;
}
.tabela table{
  margin:8px;
}
.esquerdo{
  float: left;
    width: 50%;
    
    width: 50%;

}
.direito{
  float: right;
    width: 50%;
    
    width: 50%;
}



#rodape{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#2F4F4F;
  color:#F0FFFF;
  font-family: 'Signika Negative', sans-serif;
  font-size: 14px;
  letter-spacing: 5px;
  height: 28px;
  text-align: center;
  margin-top: 50px;
  
}